<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>

    <nav>
        <h4>DB Project</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Sign out</a></li>
        </ul>
    </nav>

        <div class="container -mt4">
            <div class="spec">
                <form action="/storeSpec2" class="specs" method="POST">
                    <ul>
                        Price Range
                        <br>
                        <label for="minPrice">Min Price:</label><br>
                        <input type="text" id="minPrice" name="minPrice"><br>
                        <label for="maxPrice">Max Price:</label><br>
                        <input type="text" id="maxPrice" name="maxPrice"><br>
                    </ul>
                    <!--<ul>
                        Year
                        <br>
                        <input type="radio" id="2010" name="year" value="2010">
                        <label for="2010">2010</label><br>
                        <input type="radio" id="2011" name="year" value="2011">
                        <label for="2011">2011</label><br>
                        <input type="radio" id="2012" name="year" value="2012">
                        <label for="2012">2012</label>
                        <br>

                        <input type="radio" id="2013" name="year" value="2013">
                        <label for="2013">2013</label><br>
                        <input type="radio" id="2014" name="year" value="2014">
                        <label for="2014">2014</label><br>
                        <input type="radio" id="2015" name="year" value="2015">
                        <label for="2015">2015</label>
                        <br>

                        <input type="radio" id="2016" name="year" value="2016">
                        <label for="2016">2016</label><br>
                        <input type="radio" id="2017" name="year" value="2017">
                        <label for="2017">2017</label><br>
                        <input type="radio" id="2018" name="year" value="2018">
                        <label for="2018">2018</label>
                        <br> 

                        <input type="radio" id="2019" name="year" value="2019">
                        <label for="2019">2019</label><br>
                        <input type="radio" id="2020" name="year" value="2020">
                        <label for="2020">2020</label><br>
                    </ul>-->
                    <!--<ul>
                        Producer
                        <br>
                        <input type="radio" id="Nissan" name="producer" value="Nissan">
                        <label for="Nissan">Nissan</label><br>
                        <input type="radio" id="Hyundai" name="producer" value="Hyundai">
                        <label for="Hyundai">Hyundai</label><br>
                        <input type="radio" id="BMW" name="producer" value="BMW">
                        <label for="BMW">BMW</label><br>
                    </ul>-->
                    <!--<ul>
                        Color
                        <br>
                        <input type="radio" id="Black" name="color" value="Black">
                        <label for="Black">Black</label><br>
                        <input type="radio" id="White" name="color" value="White">
                        <label for="White">White</label><br>
                        <input type="radio" id="Grey" name="color" value="Grey">
                        <label for="Grey">Grey</label><br>
                        <input type="radio" id="Red" name="color" value="Red">
                        <label for="Red">Red</label><br>
                    </ul>-->
                    <ul>
                        Millage
                        <br>
                        <label for="minMile">Min Millage:</label><br>
                        <input type="text" id="minMile" name="minMile"><br>
                        <label for="maxMile">Max Millage:</label><br>
                        <input type="text" id="maxMile" name="maxMile"><br>
                    </ul>
                
                    <input type="submit" value="Look up">
                </form>
            </div>
        </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>