nav{
    background-color: rgb(29, 29, 29);
    color: blanchedalmond;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

body{
    background-color: rgb(59, 59, 59);
    color: blanchedalmond;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}

nav li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav li a:hover{
    color: rgba(255, 235, 205, 0.678);
}

div.card {
    color: blanchedalmond;
    background-color: rgb(88, 88, 88);
    border-radius: 3px;
}

div.container{
    padding-top: 20px;
}

button{
    background-color: blanchedalmond;
    color: black;
}

/* Create three columns of equal width */
.columns {
    background-color: rgb(29, 29, 29);
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid blanchedalmond;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #eb9917;
    color: rgb(0, 0, 0);
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: rgb(29, 29, 29);
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #eb9917;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .button:hover{
      background-color: #cf8815;
      color : black; 
  }

  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }